## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [25]:
ciudades = ["Londres", "Miami", "Bogotá", "Bombay", "Sidney", "Madrid", "Moscú"]
print (ciudades)

['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú']

2) Imprimir por pantalla el segundo elemento de la lista

In [26]:
print(ciudades[1])

Miami

3) Imprimir por pantalla del segundo al cuarto elemento

In [27]:
print(ciudades[1:4])

['Miami', 'Bogotá', 'Bombay']

4) Visualizar el tipo de dato de la lista

In [28]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [29]:
print(ciudades[2:])

['Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú']

6) Visualizar los primeros 4 elementos de la lista

In [30]:
print(ciudades[0:4])

['Londres', 'Miami', 'Bogotá', 'Bombay']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [31]:
ciudades.append("Dallas")
ciudades.append("Bogotá")
print(ciudades)

['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú', 'Dallas', 'Bogotá']

8) Agregar otra ciudad, pero en la cuarta posición

In [32]:
ciudades.insert(3, "Medellín")
print(ciudades)

['Londres', 'Miami', 'Bogotá', 'Medellín', 'Bombay', 'Sidney', 'Madrid', 'Moscú', 'Dallas', 'Bogotá']

9) Concatenar otra lista a la ya creada

In [33]:
paises = ["Brasil", "Grecia", "Suiza"]
ciudades.extend(paises)
print(ciudades)

['Londres', 'Miami', 'Bogotá', 'Medellín', 'Bombay', 'Sidney', 'Madrid', 'Moscú', 'Dallas', 'Bogotá', 'Brasil', 'Grecia', 'Suiza']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [34]:
print(ciudades.index("Bogotá")) # Solo lista la primera coincidencia

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [79]:
# print(ciudades.index("Méjico")) # Python devuelve ValueError

12) Eliminar un elemento de la lista

In [36]:
ciudades.remove("Moscú")
print(ciudades)

['Londres', 'Miami', 'Bogotá', 'Medellín', 'Bombay', 'Sidney', 'Madrid', 'Dallas', 'Bogotá', 'Brasil', 'Grecia', 'Suiza']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [80]:
# ciudades.remove("Quito") # Python devuelve ValueError

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [74]:
ult_ciudades = ciudades.pop()
print(ult_ciudades)

Moscú

15) Mostrar la lista multiplicada por 4

In [63]:
multp4 = ciudades * 4
print (multp4)

['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [64]:
l1 = []
for i in range (1,21):
    l1.append(i)
tp_l1 = tuple(l1)
print(tp_l1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [65]:
print(tp_l1[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [75]:
for i1 in (tp_l1):
    if i1 == 20:
        print("El 20 hace parte de la tupla")
    elif i1 == 30:
        print("El 30 hace parte de la tupla")
    else:
        continue

El 20 hace parte de la tupla

In [67]:
print(20 in tp_l1)
print(30 in tp_l1)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [44]:
ciudades1 = ["Londres", "Miami", "Bogotá", "Bombay", "París", "Sidney", "Madrid", "Moscú"]
x = 0
for i in ciudades1:
    if i == "París":
        x = 1
        (print("Ya existe París"))
        break
if x == 0:
    ciudades1.append("París")
    (print("París ha sido agregada"))
print(ciudades1)

Ya existe París
['Londres', 'Miami', 'Bogotá', 'Bombay', 'París', 'Sidney', 'Madrid', 'Moscú']

In [45]:
ciudad19 = "París"
if (not(ciudad19 in ciudades1)):
    ciudades1.append(ciudad19)
    print("Agregamos la ciudad : ", ciudad19)
else:
    print("Ya existía en la lista la ciudad de : ", ciudad19)

Ya existía en la lista la ciudad de :  París

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [46]:
print(tp_l1.count(20))
print(ciudades1.count("Bogotá"))

1
1

21) Convertir la tupla en una lista

In [47]:
t21 = (3,67,34,89,0,23)
l_t21 = list(t21)
print(l_t21)
print(type(l_t21))

[3, 67, 34, 89, 0, 23]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [78]:
a, b, c, _, _, _ = t21
print (a)
print (b)
print (c)

3
67
34

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [68]:
ciudades = ["Londres", "Miami", "Bogotá", "Bombay", "Sidney", "Madrid", "Moscú"]
paises = ["India", "Inglaterra", "Argentina", "Lituania", "España", "Rusia", "Colombia"]
continentes = ["América", "África", "Europa", "Oceanía"]
dic_geo = {"ciudad" : ciudades, "pais" : paises, "continente" : continentes}
print(dic_geo)

{'ciudad': ['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú'], 'pais': ['India', 'Inglaterra', 'Argentina', 'Lituania', 'España', 'Rusia', 'Colombia'], 'continente': ['América', 'África', 'Europa', 'Oceanía']}

24) Imprimir las claves del diccionario

In [69]:
print(dic_geo.keys())

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [70]:
for i,j in list(dic_geo.items()):
    if i == "ciudad":
        print(j)

['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú']

In [73]:
print(dic_geo["ciudad"])

['Londres', 'Miami', 'Bogotá', 'Bombay', 'Sidney', 'Madrid', 'Moscú']